= form_for [:admin,@client] do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg


  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description, rows: 10

  .field
    = image_tag @client.logo
    = f.label :logo
    = f.file_field :logo
    -# %input{name: "client[logo]", type: 'filepicker-dragdrop'}

  .actions
    = f.submit 'Save', class: 'button'
