= simple_form_for [:admin, @homepage_video] do |f|
  - if @homepage_video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@homepage_video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @homepage_video.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  .field
    - if @homepage_video.video.present?
      %video{src: @homepage_video.video, controls: false, width: 300, autoplay: true, loop: true}
    %input{name: "homepage_video[video]", type: 'filepicker-dragdrop', value: @homepage_video.video}

  .actions
    = f.submit 'Save', class: 'button'