- if action_name == 'show'
  - title "#{@video} / #{@video.tag}"
  - button "Work"
- else
  - title "Featured"
  - button "Featured"

.row
  #video= vimeo_player @video.vimeoid

.row
  .description
    %h3= @video.name
    = simple_format @video.description
  = render "socialbuttons", video: @video

#videos.thumbs

  - @videos.each_with_index do |video, index|
    .video.tile{style: "background-image: url(#{video.image});", class: ('active' if @id == index + 1) }
      = link_to (action_name == 'show' ? video.fullpath : featured_path(index + 1)) do
        .bg
          .info
            .name=video
            - if video.blurb.present?
              .company=video.blurb
