/= @video.vimeoid
.row
  #video= vimeo_player @video.vimeoid

.row
  .description
    %h3= @video.name
    = simple_format @video.description

#videos.thumbs
  - @videos.each do |video|
    .video.tile{style: "background-image: url(#{video.image});"}
      = link_to video.fullpath do
        .bg
          .info
            .name=video
            - if video.blurb.present?
              .company=video.blurb
