/= @video.vimeoid

- if action_name == 'show'
  - title "#{@video} / #{@video.tag}"
  - button "Work"
- else
  - title "Featured"
  - button "Featured"
.row
  #video= vimeo_player @video.vimeoid

.row
  .description
    %h3= @video.name
    = simple_format @video.description
  .social
    .share-container
      %span.share-text Share:
      = link_to "Share on Twitter", "http://twitter.com/home?status=#{@video.name} - #{video_url(@video)}", class: "share twitter"
      = link_to "Share on Facebook", "http://www.facebook.com/sharer/sharer.php?s=100&p[url]=#{video_url(@video)}&p[images][0]=#{@video.image}&p[title]=#{@video.name}&p[summary]=#{@video.description}", class: "share facebook"
      = link_to "Share on Pinterest", "http://pinterest.com/pin/create/button/?url=#{video_url(@video)}&media=#{@video.image}&description=#{@video.description}", class: "share pinterest"

#videos.thumbs
  - @videos.each_with_index do |video, index|
    .video.tile{style: "background-image: url(#{video.image});"}
      = link_to (action_name == 'show' ? video.fullpath : featured_path(index + 1)) do
        .bg
          .info
            .name=video
            - if video.blurb.present?
              .company=video.blurb
