- content_for(:meta) do
  %meta{content: request.url, property: "og:url"}/
  -# %meta{content: (yield(:title).present? ? yield(:title) : "Daylight Moving Image"), property: "og:title"}/
  %meta{content: @video.description, property: "og:description"}/
  %meta{content: "video", property: "og:type"}/

  %meta{content: @video.image, property: "og:image"}/
  %meta{content: "http://vimeo.com/moogaloop.swf?clip_id=#{@video.vimeoid}", property: "og:video"}/
  %meta{content: "https://vimeo.com/moogaloop.swf?clip_id=#{@video.vimeoid}", property: "og:video:secure_url"}/
  %meta{content: "application/x-shockwave-flash", property: "og:video:type"}/
  %meta{content: "640", property: "og:video:width"}/
  %meta{content: "360", property: "og:video:height"}/
  -# %meta{content: (yield(:title).present? ? yield(:title) : "Daylight Moving Image", property: "og:site_name"}/
  %meta{content: "player", name: "twitter:card"}/
  %meta{content: "https://player.vimeo.com/video/#{@video.vimeoid}", name: "twitter:player"}/
  %meta{content: "360", name: "twitter:player:height"}/
  %meta{content: "640", name: "twitter:player:width"}/
  -# %meta{content: (yield(:title).present? ? yield(:title) : "Daylight Moving Image", name: "twitter:app:name:iphone"}/
  %meta{content: "425194759", name: "twitter:app:id:iphone"}/
  %meta{content: "vimeo://video/#{@video.vimeoid}", name: "twitter:app:url:iphone"}/
  -# %meta{content: (yield(:title).present? ? yield(:title) : "Daylight Moving Image", name: "twitter:app:name:ipad"}/
  %meta{content: "425194759", name: "twitter:app:id:ipad"}/
  -# %meta{content: (yield(:title).present? ? yield(:title) : "Daylight Moving Image", name: "twitter:app:name:googleplay"}/
  %meta{content: "com.vimeo.android.videoapp", name: "twitter:app:id:googleplay"}/

- if action_name == 'show'
  - title "#{@video} / #{@video.tag}"
  - button "Work"
- else
  - title "Featured"
  - button "Featured"

.row
  #video= vimeo_player @video.vimeoid

.row
  .description
    %h3= @video.name
    = simple_format @video.description
  = render "socialbuttons", video: @video

#videos.thumbs

  - if @previous_video
    .video.tile{style: "background-image: url(#{@previous_video.image});"}
      = link_to @previous_video.fullpath do
        .bg
          .info
            .name=@previous_video
            - if @previous_video.blurb.present?
              .company=@previous_video.blurb
  - else
    .video

  .video.tile.active{style: "background-image: url(#{@video.image});"}
    = link_to @video.fullpath do
      .bg
        .info
          .name=@video
          - if @video.blurb.present?
            .company=@video.blurb

  - if @next_video
    .video.tile{style: "background-image: url(#{@next_video.image});"}
      = link_to @next_video.fullpath do
        .bg
          .info
            .name=@next_video
            - if @next_video.blurb.present?
              .company=@next_video.blurb
  - else
    .video

