/= @video.vimeoid
.row
  #video= vimeo_player @video.vimeoid

.row
  .description
    %h3= @video.name
    = simple_format @video.description

#videos.thumbs
  - 3.times do |index|
    - Video.all.sample(1).each do |video|
      .video.tile{style: "background-image: url(#{video.image});", class: ("active" if index == 2)}
        /{class: @tags.sample.parameterize}
        = link_to video do
          .bg
            .info
              .name=video
              - if video.blurb.present?
                .company=video.blurb


/ %p#notice= notice
/ = vimeo_player @video.vimeoid
/ %h3= @video.name
/ = simple_format @video.description

/ = link_to 'Edit', edit_video_path(@video)
/ \|
/ = link_to 'Back', videos_path
