.row
  .about-column.padded
    %h3 Profile

    %p Established in 2004, Daylight is an award winning, independent, creative moving image and design company based in the Northern Quarter of central Manchester. Founded on a fresh, stylistic approach to video production, we embrace and unite disciplines such as design, animation, audio and film to produce a more creative form of moving image.
    %p We are a small, experienced and creative team with a collective background in production and design. We pride ourselves on taking any screen based brief from concept to completion, and being a small team we maximise the efficiency and communication needed for the project, whatever it may be. We also have an amazing network of trusted specialists at our disposal so if we do have to draw in collaborators from new fields to suit your needs, we always have the right people for the job.
    %p If you'd like to find out more get in touch through the details above.

  .about-column= holder_tag '300x180'

.row
  .about-column.last.padded{style: 'float: right'}= Faker::Lorem.paragraphs.join(' ')
  .about-column= holder_tag '300x180'

.row
  .about-column.padded
    %h3= Faker::Lorem.words.join(' ')
    = Faker::Lorem.paragraphs.join(' ')
  .about-column.last= holder_tag '300x180'
