!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= yield(:title) || "Daylight Moving Image"

    = stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Lato:300,400", "http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css", media: "all"

    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js", "https://www.gstatic.com/swiffy/v5.1/runtime.js", "http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js", "http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body.app{class: "c-#{controller_name} a-#{action_name} #{request.fullpath.split('/')[1]}"}

    %header
      #head
        #nav-button
          = yield(:button).blank? ? yield(:title) : yield(:button)
        %nav.top-nav

          = link_to "Backstage", "http://day-light.co.uk/backstage", class: 'link'
          = link_to "Blog", "http://blog.day-light.co.uk", class: 'link'

          = mail_to "talk@day-light.co.uk", "Email", class: 'sprite Email'
          / = link_to "Tumblr", "#", class: 'sprite Tumblr'
          / http://www.linkedin.com/company/daylight-moving-image
          = link_to "Facebook", "https://www.facebook.com/DaylightMovingImageltd", class: 'sprite Facebook'
          = link_to "Twitter", "https://twitter.com/Natural_light", class: 'sprite Twitter'
          = link_to "Pinterest", "http://pinterest.com/daylightmatt/", class: 'sprite Pinterest'
          = link_to "Instagram", "http://instagram.com/daylight_matt/", class: 'sprite Instagram'

          /= link_to "YouTube", "http://www.youtube.com/user/DaylightLtd#p/u", class: 'sprite YouTube'
          /= link_to "Vimeo", "https://vimeo.com/daylightvimeo", class: 'sprite Vimeo'

        .row.logo
          #aperture-container
            %a#aperture{href: root_path}
          .logo
            = link_to "Daylight", root_path, class: 'aperture'
            #moving-image Moving Image

        .contact.fade
          %p Penthouse, 37 Turner Street, Manchester, M4 1DW
          %p
            T: 0161 839 9088
            %br/
            E:
            = mail_to "talk@day-light.co.uk"

        #summary.fade

          Established in 2004, Daylight is an award winning, independent, creative moving image company based in the northern quarter of Manchester.
          %br/
          %br/
          We like working in natural light.

        %nav#main-nav.inline
          %ul{data: {bgcolor: '#f9a518', breakpoint: 800}}
            %li= link_to_with_active_state "Showreel", showreel_path
            %li= link_to_with_active_state "Featured", featured_path
            %li
              = link_to_with_active_state "Work", work_path
              %ul#work-subnav.subnav{data: {bgcolor: '#ffdc48'}}
                %li.all= link_to_with_active_state "All", work_path(tag: nil)
                - @work_tags.each do |tag|
                  %li= link_to_with_active_state tag.name,
                    work_path(tag: tag.slug), {}, (request.fullpath.include? "/#{tag.slug}")

            %li= link_to_with_active_state "About", about_path
            %li= link_to_with_active_state "Clients", clients_path
            %li= link_to_with_active_state "Contact", contact_path

    #main
      .container
        = yield

    %footer
      .inner
        %p © Daylight Moving Image Ltd. All rights reserved.
        %p Registered in England & Wales # 5259086. VAT Registration # 849451201
